:root {
    --background: rgb(15, 18, 26);
    --background-2: rgb(25, 28, 36);
    --background-3: rgb(33, 36, 45);
    --background-4: rgb(45, 49, 60);
    scrollbar-color: var(--background-3) var(--background);
}

* {
    transition: all 200ms;
    user-select: none;
    outline: none;
}

canvas,
img {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

html {
    color: white;
    box-sizing: border-box;
    font-family: SF Pro Text, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    scrollbar-gutter: stable both-edges;
}

body {
    background-color: var(--background);
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;
}

.hidden {
    display: none !important;
    animation-play-state: paused !important;
}

.invisible {
    opacity: 0;
    animation-play-state: paused !important;
    pointer-events: none;
}

.rotated {
    transform: rotate(180deg);
}

button {
    text-decoration: none;
    border: none;
    background-color: transparent;
    appearance: none;
    cursor: pointer;
    color: rgb(138, 145, 165);
    font-weight: 600;
}

button:hover {
    color: rgb(255, 255, 255);
}

nav {
    align-items: center;
    padding: 16px 0;
    border-bottom: 1px solid var(--background-3);
    width: 100%;
    display: flex;
    color: rgb(138, 145, 165);
    font-size: 13px;
    justify-content: space-between;
    position: relative;
    tab-size: 4;
    z-index: 30;

    #logo {
        white-space: nowrap;
        text-wrap: nowrap;
        height: 29px;

        img {
            width: 29px;
            height: 29px;
        }
    }

    #center {
        position: static;
        z-index: 50;
        top: 50px;
        display: flex;
        flex-direction: row;
        font-weight: 500;
        justify-content: center;
        overflow: hidden;
        gap: 12px;

        button {
            border-radius: 8px;
            color: rgb(138, 145, 165);
            cursor: pointer;
            padding: 0.5rem 0.75rem;
            transition: all cubic-bezier(0.4, 0, 0.2, 1) 150ms;
            text-decoration: none;
            line-height: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight: 400;

            &:hover,
            .active {
                background-color: var(--background-3);
                color: rgb(255, 255, 255);
            }
        }
    }

    #end {
        display: flex;
        justify-content: flex-end;
    }

    #user {
        display: flex;
        align-items: center;
        cursor: pointer;
        border-radius: 8px;
        height: 29px;
        color: white;

        &:hover,
        &.active {
            background-color: var(--background-3);
        }

        canvas {
            border-radius: 35%;
            padding: 2px;
        }

        span {
            padding-left: 0.5rem;
        }

        svg {
            margin-left: 0.25rem;
        }
    }

    .popout {
        top: 3.1rem;
        right: 0;
        text-align: center;
        transition: all 200ms !important;
    }

}

.popout {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    position: absolute;
    background: var(--background-3);
    text-align: left;
    border-radius: 8px;
    box-sizing: content-box;
    border: 1px solid rgba(45, 49, 60, 255);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.74);
    transition: all 0ms;

    hr {
        width: 100%;
        border: 0;
        height: 1px;
        background-color: rgb(45, 49, 60);
        margin: 0;
    }

    #logout,
    button {
        border-radius: 8px;
        color: rgb(138, 145, 165);
        padding: 0.5rem 0.75rem;
        transition: all cubic-bezier(0.4, 0, 0.2, 1) 150ms;
        text-decoration: none;
        line-height: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        font-weight: 400;

        &:hover {
            color: rgb(255, 255, 255);
        }
    }

    #logout:hover {
        color: rgb(236, 84, 84);
    }
}

#offlineWarning {
    background-color: rgba(28, 48, 102, 0.5);
    padding: 1rem 2rem;
    margin-top: 1rem;
    border-radius: 6px;
    text-align: center;
    font-weight: bold;

    h2,
    p {
        margin: 0;

        button {
            text-decoration: underline;
            cursor: pointer;
            color: white !important;
            font-weight: bold;
            margin: 0;
            padding: 0;
            font-size: unset !important;
        }
    }

    >button {
        margin-top: 10px;
        color: white;
        background-color: #1c3066;
        font-size: 1rem;
        font-weight: 600;
        text-shadow: 0.5px 0.5px 0.5px black;
        border-radius: 5px;
        padding: 0.5rem 1rem;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.39);

        &:hover {
            background-color: #19274d;
            transform: translate(1px, 1px);
            box-shadow: none;
        }
    }
}

#filter {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    flex-direction: row;

    input,
    select,
    #uninstallPacks {
        display: inline;
        background-color: rgb(33, 36, 45);
        color: white;
        padding: 8px 16px;
        box-sizing: border-box;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        height: 33px;
        margin-left: 5px;
        margin-right: 1rem;

        &:hover {
            background-color: rgb(45, 49, 60);
        }
    }

    select {
        padding: 8px 0px 8px 16px;
        border-right: 16px solid transparent;
    }

    #uninstallPacks {
        margin-left: auto;
        margin-right: 0;
    }
}

#filter input[type='submit'],
#filter #reset {
    align-self: flex-end;
}

#servers {
    margin: 0 auto 1rem;
    width: min(100%, 1340px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    box-sizing: border-box;
    text-shadow: 0.5px 0.5px 0.5px black;

    .server {
        position: relative;
        background-color: rgb(8, 8, 9);
        border-radius: 6px;
        overflow: hidden;
        color: aliceblue;
        transition: all ease 200ms;
        min-height: 174px;

        &:hover,
        &.activePack {
            color: white;
            box-shadow: 0px 4px 15px 0px black;
            transform: translateY(-1px);
        }

        .serverBackground {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            filter: blur(10px);
            position: absolute;
            inset: -12px;
        }

        .serverBackgroundOverlay {
            position: absolute;
            background-color: rgba(8, 8, 9, 0.4);
            inset: 0;
        }

        .serverContent {
            display: flex;
            flex-direction: column;
            position: absolute;
            padding: 2.25rem 1rem 1rem;
            text-align: center;
            align-items: center;
            vertical-align: middle;
            inset: 0;

            .serverIcon {
                display: flex;
                border-radius: 50%;
                width: 80px !important;
                height: 80px !important;
                margin-bottom: 1rem;
                border: 2px solid rgb(255, 255, 255);
                font-size: 24px;
                justify-content: center;
                align-items: center;
            }

            .serverName {
                font-weight: bold;
                max-width: 100%;
                text-wrap: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .serverButtons {
            display: none;
            flex-direction: row;
            gap: 0.3rem;
            position: absolute;
            padding: 2.25rem 0.3rem 0.3rem;
            text-align: center;
            align-items: end;
            vertical-align: middle;
            inset: 0;

            button {
                color: white;
                background-color: #1c3066;
                font-size: 1rem;
                font-weight: 600;
                text-shadow: 0.5px 0.5px 0.5px black;
                border-radius: 5px;
                padding: 0.5rem 1rem;
                box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.39);
                max-height: 35px;
                min-height: 35px;
                flex-grow: 1;

                &:hover {
                    background-color: #19274d;
                    transform: translate(1px, 1px);
                    box-shadow: none;
                }

                &.packCtxMenuButton {
                    flex-grow: 0;
                    font-weight: 900;
                    font-size: 18px;
                    line-height: 1rem;

                }
            }


            .playButton,
            .updateButton,
            .installButton,
            .downloadWorldButton {
                display: none;
            }
        }

        &.downloaded .playButton {
            display: block;
        }

        &.update .updateButton {
            display: block;
        }

        &.notDownloaded .installButton {
            display: block;
        }

        &.update .updateButton {
            display: block;
        }

        &.world .downloadWorldButton {
            display: block;
        }

        &:hover,
        &.hover,
        &.activePack {
            .serverName {
                display: none;
            }

            .serverButtons {
                display: flex;
            }
        }

        .info {
            position: absolute;
            margin: 0.25rem;
            font-size: 0.8rem;
            font-weight: bold;
            background-color: rgba(8, 8, 9, 0.4);
            padding: 0.25rem 0.5rem;
            border-radius: 5px;
            color: hsl(60, 100%, 60%);
        }

        .version {
            position: absolute;
            right: 0.25rem;
            top: 0.25rem;
            font-size: 0.8rem;
            font-weight: bold;
            background-color: rgba(8, 8, 9, 0.4);
            padding: 0.25rem 0.5rem;
            border-radius: 5px;
            text-align: end;

            img {
                display: none;
            }
        }

        &.update .newVersionNumber {
            color: hsl(118, 100%, 60%);
        }
    }
}

#installSettings,
#uninstallConfirmation {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(2px);
    z-index: 100;
    display: grid;
    align-items: center;
    justify-content: center;

    .content {
        padding: 2rem;
        margin: 4rem;
        background-color: var(--background-2);
        color: white;
        box-shadow: 0px 4px 15px 0px black;
        border-radius: 6px;
        min-width: max(500px, 30vw);
        max-width: 600px;

        h1 {
            margin: -0.5rem 0 1rem;
        }

        label i {
            font-size: smaller;
            color: rgb(138, 145, 165);
        }

        input {
            appearance: none;
            border: 1px solid #1c3066;
            border-radius: 5px;
            background-color: var(--background-3);
            color: white;
            padding: 2px 4px;
            margin-bottom: 0.75rem;

            &#installLocation {
                width: min(500px, calc(100% - 80px));
            }

            &[type="checkbox"] {
                width: 1.1rem;
                height: 1.1rem;
                margin: 0;
                padding: 0;
                overflow: hidden;
                cursor: pointer;

                &:hover {
                    background-color: var(--background-4);
                }
            }

            &[type="checkbox"]:after {
                position: relative;
                display: block;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                content: "";
                background-repeat: no-repeat;
                background-position: center;
            }

            &[type="checkbox"]:checked:after {
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAQAAABuW59YAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAB2SURBVHjaAGkAlv8A3QDyAP0A/QD+Dam3W+kCAAD8APYAAgTVZaZCGwwA5wr0AvcA+Dh+7UX/x24AqK3Wg/8nt6w4/5q71wAAVP9g/7rTXf9n/+9N+AAAtpJa/zf/S//DhP8H/wAA4gzWj2P4lsf0JP0A/wADAHB0Ngka6UmKAAAAAElFTkSuQmCC'), linear-gradient(135deg, #B1B6BE 0%, #FFF 100%);
            }

        }

        .buttons {
            display: flex;
            gap: 1rem;
            justify-content: end;

            button {
                margin-top: 10px;
                color: white;
                background-color: #1c3066;
                font-size: 1rem;
                font-weight: 600;
                text-shadow: 0.5px 0.5px 0.5px black;
                border-radius: 5px;
                padding: 0.5rem 1rem;
                box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.39);
                flex-grow: 1;

                &:hover {
                    background-color: #19274d;
                    transform: translate(1px, 1px);
                    box-shadow: none;
                }

            }
        }
    }
}


@keyframes progress {
    0% {
        --percentage: 0;
    }

    100% {
        --percentage: var(--value);
    }
}

@property --percentage {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}

#notifications {
    display: flex;
    position: fixed;
    left: 1rem;
    top: 1rem;
    bottom: 1rem;
    width: 400px;
    z-index: 999;
    flex-direction: column-reverse;
    pointer-events: none;

    .notification {
        display: flex;
        flex-direction: row;
        background-color: var(--background-2);
        width: 100%;
        height: calc(2rem + 100px);
        border-radius: 6px;
        margin-bottom: 1.5rem;
        padding: 1rem;
        box-sizing: border-box;
        box-shadow: 0px 8px 15px 0px black;
        border: 1px solid black;
        pointer-events: all;
        opacity: 0;
        gap: 1rem;

        transition: opacity 250ms ease-in-out;

        &.fadeIn {
            opacity: 1;
        }

        .notificationText {
            display: flex;
            flex-direction: column;
            text-align: left;
            justify-content: center;
            flex-grow: 1;
            flex-shrink: 1;

            h2,
            h3 {
                margin: 0;
                max-width: calc(300px - 2rem);
                text-wrap: wrap;
                word-wrap: break-word;
            }

            &:only-child {

                h2,
                h3 {
                    max-width: calc(400px - 2rem);
                }
            }
        }

        .notificationProgress {
            display: grid;
            align-items: center;
            text-align: center;
            justify-content: center;
            font-weight: 600;
            font-size: 1.2rem;

            div {
                grid-row: 1;
                grid-column: 1;
            }
        }

        [role="progressbar"] {
            --percentage: var(--value);
            --primary: #1c3066;
            --secondary: var(--background-3);
            --size: 100px;
            animation: progress 0s 0.5s forwards;
            width: var(--size);
            aspect-ratio: 1;
            border-radius: 50%;
            position: relative;
            overflow: hidden;
            display: grid;
            place-items: center;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: conic-gradient(var(--primary) calc(var(--percentage) * 1%), var(--secondary) 0);
                mask: radial-gradient(white 55%, transparent 0);
                mask-mode: alpha;
                -webkit-mask: radial-gradient(#0000 55%, #000 0);
                -webkit-mask-mode: alpha;
            }
        }
    }
}

@media screen and (max-width: 1150px) {
    #servers {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 850px) {
    #servers {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 550px) {
    #servers {
        grid-template-columns: 1fr;
    }
}